
<section class="section">

     <footer class="rodape container">
            <img src="/assets/designlabwhite.png" alt="Logo Design Lab" class="rodape__logo">
            <ul class="rodape__social">
                <li><a href="#" class="rodape__midia"><img src="" alt="Ícone do Facebook"></a></li>
                <li><a href="https://www.instagram.com/designlabcreativesolutions/" class="rodape__midia"><img src="/assets/img/instagram.png" alt="Ícone do Instagram"></a></li>
            </ul>
            <nav class="rodape__navegacao">
                <ul >
                    <li class="rodape__link"><a href="#">Sobre</a></li>
                    <li class="rodape__link"><a href="#">Planos</a></li>
                    <li class="rodape__link"><a href="#">Blog</a></li>
                    <li class="rodape__link"><a href="#">Destaques</a></li>
                    <li class="rodape__link"><a href="#">Institucional</a></li>
                    <li class="rodape__link"><a href="/src/app/contato/contato.component.html">Contato</a></li>
                </ul>
            </nav>
        </footer>

</section>
