
<section class="section">

     <footer class="rodape container">
            <img src="/assets/img/LoveCakeDocaria.jpg" alt="Logo Love Cake Docaria" class="rodape__logo">
            <ul class="rodape__social">
                <li><a href="https://www.facebook.com/LoveCakeDocaria" class="rodape__midia"><img src="/assets/img/facebook.png" alt="Ícone do Facebook"></a></li>
                <li><a href="https://www.instagram.com/lovecakedocaria/" class="rodape__midia"><img src="/assets/img/instagram.png" alt="Ícone do Instagram"></a></li>
            </ul>
            <nav class="rodape__navegacao">
                <ul >
                    <li class="rodape__link"><a href="#">Sobre</a></li>
                    <!-- <li class="rodape__link"><a href="#">Blog</a></li> -->
                    <li class="rodape__link"><a href="#">Destaques</a></li>
                    <li class="rodape__link"><a href="#">Institucional</a></li>
                    <li class="rodape__link"><a href="https://api.whatsapp.com/send/?phone=5511946147471&text&type=phone_number&app_absent=0">Contato</a></li>
                </ul>
            </nav>
        </footer>

</section>
