img {
  margin-right: 40px;
  border-radius: 15px;
}

section{
  background-color: rgba(red, green, blue, alpha);
}

.rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.rodape__social {
  display: flex;
}


.rodape__link {
  display: inline-block;


}

.rodape__navegacao {

    text-align: left;
    background-color: transparent !important;
    min-width: 600px;
    box-shadow: none;


}

.rodape__navegacao a{

  color: antiquewhite;
}

.rodape__logo {
  border-radius: 100px;
}



@media screen and (min-width: 1024px) {
  .rodape {
      flex-direction: row;

  }

}

.rodape__logo {

  width: 220px;
}
