.row
{
    overflow: hidden;
    background: linear-gradient(90deg, rgba(244,99,126,1) 8%, rgba(224,116,83,1) 46%, rgba(214,114,129,1) 64%);
    display: flex;
    align-items: center;
    height: 100vh;
}
.texto
{
  overflow: hidden;
  min-width: 50%;
  width: 50%;
  text-align: start;
  padding-left: 40px;
}
.formulario
{
    min-width: 50%;
    width: 50%;
}
.formulario h1
{
    color: #fff;
}
.form-floating
{
  background: linear-gradient(90deg, rgba(244,99,126,1) 8%, rgba(224,116,83,1) 46%, rgba(214,114,129,1) 64%);
    width: 60%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(244,99,126,1) 8%, rgba(224,116,83,1) 46%, rgba(214,114,129,1) 64%);
}
.btn-primary
{
    backdrop-filter: blur(500px);
    width: 100%;
}
.Contato
{
    background: black;
}
.texto-center
{
    text-align: center;
    color: #fff;
}
.texto-center img
{
    position: relative;
    align-items: center;
    justify-content: center;
}
