<div class="container">
    <menu></menu>
    <section class="banner">
        <img alt="LoveCakeDocaria" src="/assets/img/LoveCakeDocaria.jpg" class="fitBg">
        <div class="content">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <a href="https://www.instagram.com/reel/Cf7UeeUgrDM/" style="color: white;" class="btn-hero">Conheça nossas sobremesas incríveis </a>
        </div>
    </section>
    <section id="Especialista" class="about1">
        <div class="contentBx1">
            <h2 class="titleText1">Conheça as nossas sobremesas exclusivas</h2>
            <p class="text1">Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum <br/>
              Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum<br/> Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
            </p>
        </div>
        <div class="imgBx1">
            <img alt="Html" src="/assets/img/bolo-degrade-de-rosas.jpg" class="fitBg">
        </div>
    </section>

        <div class="package-service">
            <h2 class="titleText2">Galeria de SobreMesas</h2>
        </div>
        <div class="planos-container">

          </div>

          <div class="planos-container">

            </div>

            <div class="planos-container">

              </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <rodape></rodape>
  </div>
