<body>
    <menu></menu>
    <section class="banner">
        <img alt="DesignLab" src="/assets/designlabwhite.png" class="fitBg">
        <div class="content">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <a href="#Especialista" style="color: white;" class="btn-hero">Conheça nossas idéias </a>
        </div>
    </section>
    <section id="Especialista" class="about1">
        <div class="contentBx1">
            <h2 class="titleText1">Conheça as primeiras etapas para a criação de um logotipo</h2>
            <p class="text1">Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum <br/>
              Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum<br/> Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
            </p>
        </div>
        <div class="imgBx1">
            <img alt="Html" src="/assets/graphic-design-1.png" class="fitBg">
        </div>
    </section>

        <div class="package-service">
            <h2 class="titleText2">Pacotes de Serviços</h2>
        </div>
        <div class="planos-container">
          <section class="planos__cartoes">
              <li class="cartao cartao--start">
                  <h2 class="cartao__titulo">Basico</h2>
                  <article class="cartao__conteudo">
                      <p class="cartao__preco"><em>R$ 500</em></p>
                      <p class="cartao__texto"> Descrição dos produtos Basic</p>
                      <p class="cartao__texto">LOREMIPSUM</p>
                      <p class="cartao__texto">LOREMIPSUM</p>
                      <a href="plano.html" class="cartao__botao cartao__botao--start botao">Simule um Orçamento</a>
                  </article>
              </li>
            </section>
          </div>

          <div class="planos-container">
            <section class="planos__cartoes">
                <li class="cartao cartao--start">
                    <h2 class="cartao__titulo">Medium</h2>
                    <article class="cartao__conteudo">
                        <p class="cartao__preco"><em>R$ 500</em></p>
                        <p class="cartao__texto"> Descrição dos produtos Basic</p>
                        <p class="cartao__texto">LOREMIPSUM</p>
                        <p class="cartao__texto">LOREMIPSUM</p>
                        <a href="plano.html" class="cartao__botao cartao__botao--start botao">Simule um Orçamento</a>
                    </article>
                </li>
              </section>
            </div>

            <div class="planos-container">
              <section class="planos__cartoes">
                  <li class="cartao cartao--start">
                      <h2 class="cartao__titulo">Hard</h2>
                      <article class="cartao__conteudo">
                          <p class="cartao__preco"><em>R$ 500</em></p>
                          <p class="cartao__texto"> Descrição dos produtos Basic</p>
                          <p class="cartao__texto">LOREMIPSUM</p>
                          <p class="cartao__texto">LOREMIPSUM</p>
                          <a href="plano.html" class="cartao__botao cartao__botao--start botao">Simule um Orçamento</a>
                      </article>
                  </li>
                </section>
              </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <section class="about1">
        <div class="contentBx1">
            <h2 class="titleText1">Projetos 2</h2>
            <p class="text1">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum.<br/>
              Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum. <br/>
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum.
            </p>
        </div>

    </section>
    <habilidade></habilidade>
</body>
